
<ng-container *ngIf="role===availableRoles.admin">
<h4>Create new product</h4>

<form [formGroup]="ProductForm" class="form-group jumbotron">

  <input #prodImg  name="productImage" type="file" enctype="multipart/form-data" accept="images">

  <input type="text" style="display:none" formControlName="productID" name="productID">

  <label for="prod">Product</label>
  <input type="text" class="form-control" formControlName="name" name="productName" id="prod">


<label for="price">Price</label>
<input type="text" class="form-control" formControlName="price" name="productPrice" id="price">

  <button [disabled]="ProductForm.invalid" class="btn btn-primary" (click)="submitProduct()">Post</button>
</form>
</ng-container>


<button (click)="retrieveProduct()">View products</button>

<div *ngFor="let x of products">

<div class="jumbotron">
<h4>{{x.name}}</h4>
<h4>Rs.{{x.price}}</h4>
<img style="width:100px;height:100px" src="{{x.imgUrl}}">
</div>

</div>

<app-error></app-error>

